.dashboard-left {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3rem;
  gap: 1rem;
}

.dashboard-left > button {
  width: 8rem;
  background-color: var(--bg-button);
  color: var(--secondary-color);
  border-radius: var(--button-radius);
  border: none;
  padding: 0.5rem 0;
}

.dashboard-right {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}

.addIcon {
  height: 8rem;
  width: 8rem;
}

.dashboard-movies {
  display: flex;
  flex-direction: column;
  width: 7rem;
}

.dashboard-movies > img {
  height: 9rem;
  width: 7rem;
  border-radius: var(--button-radius);
}

.dashboard-movies > p {
  color: var(--primary-color);
}
