.card-movie {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-movie > img {
  max-height: 20vh;
  width: 8rem;
  border-radius: var(--button-radius);
}

@media only screen and (min-width: 792px) {
  /* do somethings */
}
